<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../includes/head.ejs") %>
    <title>About page</title>
</head>
<body>
    <h1 style="text-align: center;">Hi backend developers!</h1>
    <h1 style="text-align: center;">About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe voluptates deserunt quasi, voluptate architecto illum expedita reiciendis maxime facilis tempore, dolores corrupti, magni eveniet exercitationem porro nam praesentium cumque delectus. Eligendi cumque animi numquam earum ab culpa aut dolorem ratione veniam? Ad distinctio tenetur voluptatibus laudantium quam magni nulla! Deserunt et soluta repellendus qui accusantium sit sunt, unde earum aut voluptates sequi nemo quo ratione velit doloremque fugit, ut beatae fugiat! Totam perspiciatis omnis rem reiciendis ipsam nobis incidunt accusamus quibusdam aperiam dolore cumque deleniti vel magnam earum maiores iste suscipit error laborum corrupti eligendi, et voluptate molestiae? Iure molestias odit repudiandae. Aspernatur dicta maxime animi id laborum debitis nemo quod. Saepe laborum perspiciatis nostrum repellendus, facilis nesciunt quidem quasi consectetur, autem recusandae, quos totam tenetur dolor beatae error minus doloribus suscipit pariatur repudiandae praesentium quam voluptas odio. Blanditiis obcaecati nobis expedita placeat provident vero quia quidem! Dolore laborum non asperiores facere recusandae est! Deserunt optio officiis vero nihil quibusdam, reiciendis illo dignissimos corrupti saepe molestiae ducimus nemo temporibus error magnam vel sequi eaque atque cupiditate explicabo ad? Voluptatibus quaerat error sed natus rerum numquam dolor quae sit consequatur impedit est cumque similique eligendi odio, totam perspiciatis blanditiis optio maiores!</p>
    <hr>
    <br>
    <h3 style="text-align: center;">Contact us for more opportunities</h3>
</body>
</html>