<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Review!</title>
</head>
<body>
    <form action="/add-review" method="post">
        <div class="name">
            <label for="name">Enter your name</label><br>
            <input type="text" placeholder="Enter your name here" name="name" required>
        </div>
        <div class="email">
            <label for="mail">Enter your mail</label><br>
            <input type="email" placeholder="Enter your mail id here" name="mail" required>
        </div>
        <div class="review">
            <label for="review">Enter your comment</label><br>
            <textarea type="text" placeholder="Enter your review here" name="review" required></textarea>
        </div>
        <button type="submit">Submit now</button>
    </form>
</body>
</html>