<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../includes/head.ejs") %>
    <title>User Dashboard</title>
</head>
<body>
    <h1 class="h1" style="text-align: center;"><%= user.username %></h1>
    <p class="text"><%= user.email %></p>
    <hr>
    
    <h3 style="text-align: center;">Contact us for more opportunities</h3>
</body>
</html>